<!-- s.ogata -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
	<link rel="stylesheet" href="css/shouter.css">
	<link rel="stylesheet" href="css/shouter2.css">
	<style>
		.bi-gender-male,.bi-gender-female{
			font-size:50px;
		}
		.bi-megaphone{
			font-size:40px;
			color: white;
		}
	</style>
<title th:text="#{title.board.input}"></title>
</head>
<body>
<div class="background">
	<div class="text-center">
		<strong th:text="#{title.board.input}" class="text-white"></strong>&nbsp;<span class="bi bi-megaphone icon"></span>
	</div>
</div>
<div class="text-center">
	<h5　th:text="#{head.board.user}"></h5>
</div>
<!-- ログインユーザー情報　-->
<div class="container-fluid">
<form method="post">
	<table border="1" class="table table-bordered" th:each="user : ${datalist}" style="width: 40%;">
		<tr>
			<td rowspan="2" class="text-center" th:switch="${user.icon}">
				<span th:case="icon-male" class="bi bi-gender-male"></span>
				<span th:case="icon-female" class="bi bi-gender-female"></span>
			</td>
			<td width="256" th:text="${user.userName}"></td>
			<td><button type="submit" th:text="#{btn.logout}" th:formaction="@{/logout}" class="btn btn-light"></button></td>
		</tr>
		<tr>
			<td colspan="2" th:text="${user.profile}"></td>
		</tr>
	</table>
</form>
</div>
<div class="text-center">
<h5 th:text="#{head.board.shout}"></h5>
</div>
<!-- 叫ぶ　-->
<form method="post">
	<table class="table table-bordered" style="width: 500px;">
		<tr>
			<td><input class="form-control" type="text" name="writing" value="" size="60" /></td>
			<td><input class="btn btn-primary btn-lg" type="submit" th:value="#{btn.shout}" th:formaction="@{/addshout}" /></td>
		</tr>
	</table>
	<div class="text-center" th:each="user : ${datalist}">
		<!-- 未入力の場合のエラー表示用-->
		<p th:if="${error}" th:text="#{error.board.input}" class="error"></p>
		<!-- 再検索用の情報保持　-->
		<p><input type="hidden" name="loginId" th:value="${loginId}"></p>
		<p><input type="hidden" name="password" th:value="${password}"></p>
		<!-- 叫んだユーザー情報の取得　-->
		<p><input type="hidden" name="icon" th:value="${user.icon}"></p>
		<p><input type="hidden" name="userName" th:value="${user.userName}"></p>
	</div>
</form>
<div class="text-center">
	<h5 th:text="#{head.board.shouts}"></h5>
</div>
<!-- 掲示板　-->
<div class="container-fluid">
	<table class="table table-bordered table-striped" style="width: 40%;" th:each="shout : ${shoutlist}">
		<tr>
			<td rowspan="2" class="text-center" th:switch="${shout.icon}">
				<span th:case="icon-male" class="bi bi-gender-male"></span>
				<span th:case="icon-female" class="bi bi-gender-female"></span>
			</td>
			<td th:text="${shout.userName}"></td>
		</tr>
		<tr>
			<td th:text="${shout.date}"></td>
		</tr>
		<tr>
			<td colspan="2"><textarea rows="4" class="form-control" th:text="${shout.writing}"></textarea></td>
		</tr>
	</table>
</div>
</body>
</html>