<!-- h.kasai
	 編集画面 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="#{title.update.input}"></title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="http://localhost:8080/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
	<link rel="stylesheet" href="http://localhost:8080/css/shouter.css" >
</head>
<body>
<div class="background">
	<div class="text-center">
		<strong th:text="#{title.update.input}" class="text-white"></strong>
	</div>
</div>
<div class="container-fluid">
	<form method="post" action="/UserUpdateConfirm">
	<div class="form-group">
		<!-- th:object="${userInfo}"でエラー管理 -->
		<table border="1" class="table" th:object="${userInfo}">
			<tr>
				<th th:text="#{table.loginId}" class="bi bi-box-arrow-in-left"><label for="id"></label></th>
				<td><input type="text" name="loginId" th:value="${LoginId}" id="id" class="form-control">
					<!-- 既存のログインIDの場合エラー表示-->
					<div th:if="${error}" th:text="#{error.update.input}" class="error"></div>
					<!-- ログインID未入力エラー -->
					<div th:if="${#fields.hasErrors('loginId')}" th:errors="*{loginId}" class="error"></div></td>
			</tr>
			<tr>
				<th th:text="#{table.userName}" class="bi bi-person-circle"><label for="name"></label></th>
				<td><input type="text" name="userName" th:value="${UserName}" id="name" class="form-control">
				<!-- ユーザー名未入力エラー -->
				<div th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}" class="error"></div></td>
			</tr>
			<tr th:switch="${Icon}">
				<th th:text="#{table.icon}" class="bi bi-emoji-smile"></th>
				<td th:case="icon-male">
					<input type="radio" name="Icon" value="icon-male" checked>&nbsp;<span class="bi bi-gender-male"></span>
					<input type="radio" name="Icon" value="icon-female">&nbsp;<span class="bi bi-gender-female"></span>
				</td>
				<td th:case="icon-female">
					<input type="radio" name="Icon" value="icon-male">&nbsp;<span class="bi bi-gender-male"></span>
					<input type="radio" name="Icon" value="icon-female" checked>&nbsp;<span class="bi bi-gender-female"></span>
				</td>
			</tr>
			<tr>
				<th th:text="#{table.profile}" class="bi bi-card-text"><label for="profile"></label></th>
				<td><input class="form-control" type="text" name="profile" th:value="${Profile}" size="60" />
				<!-- プロフィール未入力エラー -->
				<div th:if="${#fields.hasErrors('profile')}" th:errors="*{profile}" class="error"></div></td>
			</tr>
		</table>
		<div class="text-center">
			<input type="submit" th:value="#{btn.OK}" class="btn btn-primary btn-lg">
			<input type="submit" th:value="#{btn.back}"  name="back" th:formaction="@{/resultback}" class="btn btn-primary btn-lg">
				<!-- ログインID保持 -->
				<input type="hidden" name="loginID" th:value="${loginID}">
				<!-- userId保持(更新時に使用) -->
				<input type="hidden" name="userId" th:value="${userId}">
				<!-- 検索条件の保持　-->
				<p><input type="hidden" name="loginId2" th:value="${loginId}"></p>
				<p><input type="hidden" name="userName2" th:value="${userName}"></p>
				<p><input type="hidden" name="icon2" th:value="${icon}"></p>
				<p><input type="hidden" name="profile2" th:value="${profile}"></p>
		</div>
	</div>
	</form>
</div>	
</body>
</html>