<!--編集画面-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="#{title.update.input}"></title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="http://localhost:8080/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
	<link rel="stylesheet" href="http://localhost:8080/css/shouter.css" >
</head>
<body>
<div class="background">
	<div class="text-center">
		<strong th:text="#{title.update.input}" class="text-white"></strong>
	</div>
</div>
<div class="container-fluid">
	<form method="post" action="/UserUpdateConfirm">
	<div class="form-group">
		<table border="1" class="table">
			<tr>
				<th th:text="#{table.loginId}" class="bi bi-box-arrow-in-left"><label for="id"></label></th>
				<td><!-- userId保持-->
					<input type="hidden" name="userId" th:value="${userId}">
					<!-- loginId保持-->
					<input type="text" name="loginId" th:value="${loginId}" id="id" class="form-control">
					<!-- loginID保持 -->
					<input type="hidden" name="loginID" th:value="${loginID}">
					<div th:if="${error}" th:text="#{error.update.input}" class="error"></div></td>
			</tr>
			<tr>
				<th th:text="#{table.userName}" class="bi bi-person-circle"><label for="name"></label></th>
				<td><input type="text" name="userName" th:value="${userName}" id="name" class="form-control"></td>
			</tr>
			<tr th:switch="${icon}">
				<th th:text="#{table.icon}" class="bi bi-emoji-smile"></th>
				<td th:case="icon-male">
					<input type="radio" name="icon" value="icon-male" checked>&nbsp;<span class="bi bi-gender-male"></span>
					<input type="radio" name="icon" value="icon-female">&nbsp;<span class="bi bi-gender-female"></span>
				</td>
				<td th:case="icon-female">
					<input type="radio" name="icon" value="icon-male">&nbsp;<span class="bi bi-gender-male"></span>
					<input type="radio" name="icon" value="icon-female" checked>&nbsp;<span class="bi bi-gender-female"></span>
				</td>
			</tr>
			<tr>
				<th th:text="#{table.profile}" class="bi bi-card-text"><label for="profile"></label></th>
				<td><input class="form-control" type="text" name="profile" th:value="${profile}" size="60" /></td>
			</tr>
		</table>
		<div class="text-center">
			<input type="submit" th:value="#{btn.OK}" class="btn btn-primary btn-lg">
			<a th:href="@{/index}"><button type="submit" th:value="#{btn.OK}" class="btn btn-primary btn-lg"></button></a>
		</div>
	</div>
	</form>
</div>	
</body>
</html>